
/************************************************************************************
smaller than 1280
*************************************************************************************/
@media screen and (max-width: 1280px) {

}


/************************************************************************************
smaller than 1024
*************************************************************************************/
@media screen and (max-width: 1024px) {


}

/************************************************************************************
smaller than 768
*************************************************************************************/
@media screen and (max-width: 768px) {

}

/************************************************************************************
smaller than 767
*************************************************************************************/
@media screen and (max-width: 767px) {
.logo {
    float: left;
    width: 97%;
}
.box_1 a {
    color: black;
    padding: 0;
}
}

/************************************************************************************
smaller than 480
*************************************************************************************/
@media screen and (max-width: 480px) {
	
.logo {
    float: left;
    width: 97%;
}
	

.box_1 a {
    color: black;
    padding: 0;
}	

}


/************************************************************************************
smaller than 360
*************************************************************************************/
@media screen and (max-width: 360px) {
.logo {
    float: left;
    width: 97%;
}
.box_1 a {
    color: black;
    padding: 0;
}


}


/************************************************************************************
smaller than 320
*************************************************************************************/
@media screen and (max-width: 320px) {
	.logo {
    float: left;
    width: 97%;
}
.left_Section h2 {
    color: #4b4b4b;
    float: left;
    font-family: "futura_bkbook";
    font-size: 25px;
    width: 100%;
}
.top_page ul li a {
    border: medium none;
    color: #e84045;
    font-size: 17px;
    padding: 3px 10px 0 19px;
}
.box_1 a {
    color: black;
    padding: 0;
}



}