
@font-face {
    font-family: 'oswaldbook';
    src: url('../fonts/oswald-regular-webfont.eot');
    src: url('../fonts/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-regular-webfont.woff') format('woff'),
         url('../fonts/oswald-regular-webfont.ttf') format('truetype'),
         url('../fonts/oswald-regular-webfont.svg#oswaldbook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MyriadProRegular';
    src: url('../fonts/myriadpro-regular.eot');
    src: url('../fonts/myriadpro-regular.eot') format('embedded-opentype'),
         url('../font/smyriadpro-regular.woff') format('woff'),
         url('../fonts/myriadpro-regular.ttf') format('truetype'),
         url('../fonts/myriadpro-regular.svg#MyriadProRegular') format('svg');
}


@font-face {
	font-family: 'futura_bkbook';
	src: url('../fonts/ftrabk__-webfont.eot');
	src: url('../fonts/ftrabk__-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ftrabk__-webfont.woff') format('woff'), url('../fonts/ftrabk__-webfont.ttf') format('truetype'), url('../fonts/ftrabk__-webfont.svg#futura_bkbook') format('svg');
	font-weight: normal;
	font-style: normal;
}